{% extends "_base.html" %}

{% block content %}
<div class="city_nav sameline">
<img src = "{{logo}}">
<div class = 'instruction'>
Select a city
</div>
<ul>
	{% for row in cities %}
	
	<li class = 'city_option' data-which = '{{ row.city | clean_city }}'>
	  {{ row.city }}
	 </li>

	{% endfor %}
</ul>
</div>

<div id = 'content' class = 'sameline'>
	{% for row in cities %}
	
	<div class = 'city' id = '{{ row.city | clean_city }}'>
	  <h1>{{ row.city }}</h1>
	  <ul>
	  	{%for candidate in candidates%}
	  		{%if candidate.city == row.city and candidate.status == 'received'%}
	  			
	  		{%endif%}
	  	{%endfor%}
	  </ul>
	 </div>

	{% endfor %}
</div>

{% endblock content %}

